<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052500743677-c04f7damjpkeqof2c2nnuio9mfm43p1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052500743677-c04f7damjpkeqof2c2nnuio9mfm43p1c</string>
	<key>API_KEY</key>
	<string>AIzaSyCwONDsJFAfneWVc8FgNrs8JjoBUPrx8nA</string>
	<key>GCM_SENDER_ID</key>
	<string>1052500743677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solidstategroup.wazokuideaapp.test</string>
	<key>PROJECT_ID</key>
	<string>wazoku-app-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>wazoku-app-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052500743677:ios:ec633a933996a632</string>
	<key>DATABASE_URL</key>
	<string>https://wazoku-app-qa.firebaseio.com</string>
</dict>
</plist>